<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # Temporarily enable error reporting for debugging
    php_flag display_errors on
    php_value error_reporting E_ALL

    # Protect migrate.php except from specific IPs
    <Files "migrate.php">
        Order Deny,Allow
        Deny from all
        # Add your IP address here
        Allow from 127.0.0.1
        Allow from ::1
        Allow from all
        # You can add more IPs by adding more "Allow from" lines
    </Files>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Prevent viewing of .htaccess file
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# Prevent viewing of .user.ini file
<Files .user.ini>
    Order allow,deny
    Deny from all
</Files>
